<h2>Hello. I'm Prantik</h2>
<p>
    <img src="https://0.gravatar.com/avatar/3848250ec018403eda4899497d1f1bf1?d.png" 
         alt="Prantik Bhattacharyya" 
         title="Follow me on Twitter @prantik"  
         class="img-rounded floatLeft" />          
         I am an engineer @Klout. And an aspiring chef.
</p>
<p>
    <a href="https://twitter.com/prantik" 
       class="twitter-follow-button" 
       data-link-color="#0069D6" 
       data-show-count="true">Follow @prantik
    </a>
</p>
<p>
  <ul class="buttons unstyled">
    <li><a href="http://github.com/prantik" 
           rel="me" 
           class="social github" 
           title="Go to github.com/prantik" 
           target="_blank">
        </a>
    </li>
    <li><a href="http://www.linkedin.com/in/prantikbhattacharyya‎" 
           rel="me" 
           class="social linkedin" 
           title="Go to LinkedIn profile" 
           target="_blank">
        </a>
    </li>
    <li><a href="http://www.twitter.com/prantik" 
           rel="me" 
           class="social twitter" 
           title="Go to twitter.com/prantik" 
           target="_blank">
        </a>
    </li>
  </ul>
</p>
