<h2>Hello. I'm Prantik</h2>
<p>
    <img src="https://0.gravatar.com/avatar/3848250ec018403eda4899497d1f1bf1?d.png" 
         alt="Prantik Bhattacharyya" 
         title="Follow me on Twitter @prantik"  
         class="img-rounded floatLeft" />          
         I am an engineer @Klout and an aspiring chef.
</p>
<p>
    <a href="https://twitter.com/prantik" 
       class="twitter-follow-button" 
       data-link-color="#0069D6" 
       data-show-count="true">Follow @prantik
    </a>
</p>