<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class=""><a href="../../index.html"><i class="icon-home"></i> Home</a></li>
          <li class=""><a href="../../publications.html"><i class="icon-book"></i> Publications</a></li>
          <li class=""><a href="../../blog.html"><i class="icon-pencil"></i> Blog</a></li>
          <li class=""><a href="../../photos.html"><i class="icon-picture"></i> Photos</a></li>
          <li class=""><a href="../../life.html"><i class="icon-leaf"></i> Life</a></li>
        <!--   <li class="dropdown">
              <a href="#" class="dropdown" data-toggle="dropdown">
                <i class="icon-globe"></i> About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class=""><a href="../../research.html" rel="tooltip" title="Research">Research</a></li>
                </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>