<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class=""><a href="../../index.html"><i class="icon-home"></i>Home</a></li>
		  <li class=""><a href="../../biography.html"><i class="tooltip"></i>Biography</a></li>
		  <li class=""><a href="../../blog.html"><i rel="icon-home"></i>Blog</a></li>
		  <li class="dropdown">
		  	<a href="#" class="dropdown" data-toggle="dropdown">
				<i class="icon-globe"></i> About <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="../../life.html" rel="tooltip" title="Life">Life</a></li>
					<li class=""><a href="../../research.html" rel="tooltip" title="Research">Research</a></li>
				</ul>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>